html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Keelab vertikaalse kerimise */
}

#map { height: 90vh; width: 100%; }

.popup-content {
    display: flex;
    align-items: center;
    gap: 10px;
    }

    .popup-content img {
        border-radius: 8px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    /* Lightbox stiil */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.lightbox:target {
    display: flex;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.leaflet-popup-content {
    max-height: 400px;  /* Määra popupi maksimaalne kõrgus */
    overflow-y: auto;   /* Luba vertikaalne kerimine */
}

.leaflet-popup-content img {
    max-width: 100%;   /* Muudab pildi popupi sees proportsionaalseks */
    height: auto;
}

.leaflet-popup-content iframe, 
.leaflet-popup-content video {
    max-width: 100%;   /* Videod ei tohiks popupist välja minna */
    height: auto;
}

.leaflet-popup-content p {
    margin-bottom: 10px !important;  /* Lisab ruumi iga lõigu alla */
}

.popup-description {
    margin-top: 10px !important;     /* Lisab vahe ülalpool */
    margin-bottom: 15px !important;  /* Lisab ruumi descriptioni alla */
    font-size: 13px;      /* Saab muuta ka kirjasuurust */
    margin-right: 15px !important;
    text-align: justify;
    line-height: 1.5;     /* Parandab loetavust */
}


@media screen and (max-width: 600px) {
    .leaflet-popup-content {
        max-height: 200px; /* Väiksem kõrgus väiksematel ekraanidel */
    }
}