html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Keelab vertikaalse kerimise */
}

#map { height: 90vh; width: 100%; }

.popup-content {
    display: flex;
    align-items: center;
    gap: 10px;
    }

    .popup-content img {
        border-radius: 8px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    /* Lightbox stiil */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.lightbox:target {
    display: flex;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}